.flex{
    display: flex;
    display : -webkit-flex;
}
#container{
    height: 100vh;
    article:first-child{
        background:grey;
        height: 300px ;
    }
    article:last-child{
        background: #dcdcdc;
        height: 7000px ;
    }
    article{
        width: 50%;
        margin: 1em;
        transition: margin-top 0.16s;
    }
}