.flex {
  display: flex;
  display: -webkit-flex;
}

#container {
  height: 100vh;
}
#container article:first-child {
  background: grey;
  height: 300px;
}
#container article:last-child {
  background: #dcdcdc;
  height: 7000px;
}
#container article {
  width: 50%;
  margin: 1em;
  transition: margin-top 0.16s;
}

/*# sourceMappingURL=style.css.map */
